@{
    ViewBag.Title = "Home Page";
}
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>DeskApp - Bootstrap Admin Dashboard HTML Template</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Areas/Admin/ContentAdmin/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Areas/Admin/ContentAdmin/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Areas/Admin/ContentAdmin/vendors/images/favicon-16x16.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/ContentAdmin/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/ContentAdmin/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/ContentAdmin/src/plugins/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/ContentAdmin/src/plugins/datatables/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/ContentAdmin/vendors/styles/style.css">


</head>
<div>
    <div class="hero_area" style="background-image: url('../../FlowerStyle/images/hero.png'); ">
        <section class=" slider_section position-relative">
            <div class="slider_number-container ">
                <div class="number-box">
                    <span>
                        01
                    </span>
                    <hr>
                    <span>
                        02
                    </span>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="col-lg-6 col-md-8">
                                    <div class="detail_box">
                                        <h2>
                                            Welcome
                                        </h2>
                                        <h1>
                                            Flowers World
                                        </h1>
                                        <p>
                                            Flower World is a website specializing in providing professional services of flowers, gifts... to all provinces and cities across the country. With the message "Flower Delivery Expert", we aim at a professional service in conveying the messages and emotions of the giver to the recipient.
                                        </p>
                                        <div>
                                            <a href="">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-lg-6 col-md-8">
                                    <div class="detail_box">
                                        <h2>
                                            Welcome
                                        </h2>
                                        <h1>
                                            Flowers shop
                                        </h1>
                                        <p>
                                            Shop with professional style and dedicated to customers.
                                            We can assist you in choosing flowers, cakes and gifts,
                                            Free greeting card / Banner attached to the product!♥♥♥
                                        </p>
                                        <div>
                                            <a href="">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel_btn-container">
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <section class="about_section ">
        <div class="section_number">
            01
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xl-7">
                    <div class="img-box">
                        <img src="https://cafefcdn.com/203337114487263232/2021/10/20/photo-1-16346911785681632480173.jpg" />
                    </div>
                </div>
                <div class="col-md-5 col-xl-5">
                    <div class="detail_box">
                        <div class="heading_container justify-content-end">
                            <h2>
                                About Flowers
                            </h2>
                        </div>
                        <p>
                            White flower: Brings the meaning of purity, innocence, reverence, or even a new beginning. - Red flower: Symbolizes love, is the love confession of couples for each other. - Crimson, bold flowers: Bring the meaning of mourning, grief.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- end about section -->
    <!-- why section -->
    <section class="why_section layout_padding">
        <div class="section_number">
            02
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>
                        Our target
                    </h2>
                    <p>
                        Along with the goal of developing Vietnam's fresh flower industry and bringing the Vietnamese fresh flower market to a new level, at the same time creating many jobs for people, farmers in the fresh flower industry and handicraft industries. other profession. Flower World is determined to constantly learn and create to produce the most unique, impressive and unique flower arrangements.
                    </p>
                    <div>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end why section -->
    <!-- gallery section -->
    <section class="gallery_section layout_padding">
        <div class="section_number">
            03
        </div>
        <div class="heading_container justify-content-center">
            <h2>
                Our Gallery
            </h2>
        </div>
        <div class="container">
            <div class="img_container">
                <div class="box-1">
                    <div class="box-1-container">
                        <div class="b-1">
                            <div class="img-box">
                                <img src="~/FlowerStyle/images/g-13.jpg" />
                            </div>
                            <div class="img-box">
                                <img src="~/FlowerStyle/images/g-19.jpg" />
                            </div>
                        </div>
                        <div class="b-2">
                            <div class="img-box">
                                <img src="~/FlowerStyle/images/g-11.jpg" />
                            </div>
                            <div class="img-box">
                                <img src="~/FlowerStyle/images/g-12.jpg" />
                            </div>
                        </div>
                    </div>
                    <div class="b-3">
                        <div class="img-box">
                            <img src="~/FlowerStyle/images/g-21.jpg" />
                        </div>
                    </div>
                </div>
                <div class="box-2">
                    <div class="img-box">
                        <img src="~/FlowerStyle/images/g-16.jpg" />
                    </div>
                    <div class="img-box">
                        <img src="~/FlowerStyle/images/g-17.jpg" />
                    </div>
                </div>
            </div>
    </section>
    <!-- end gallery section -->
    <!-- client section -->

    <section class="client_section layout_padding">
        <div class="container">
            <div class="heading_container justify-content-center">
                <h2>
                    What did the Shop creators say?
                </h2>
                <div class="section_number">
                    04
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="client_box">
                        <div class="detail_box">
                            <div class="img_box">
                                <img src="https://scontent.fhan4-1.fna.fbcdn.net/v/t39.30808-6/275439210_497449218626254_6964919079882677566_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=j4eHoSwU2s4AX_ut0hd&tn=5JDCvYcUHhVarpFz&_nc_ht=scontent.fhan4-1.fna&oh=00_AT9z6iU4C1Md93l7bHmpZQl8Yq3TkjlKqSvkXIG098qg1A&oe=6246AE63">
                            </div>
                            <h5>
                                Đào Quang Huy
                            </h5>
                            <p>
                                In the coming years, Flower World will support a part of startup projects for students in the field of e-commerce. Which provides the infrastructure.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="client_box">
                        <div class="detail_box">
                            <div class="img_box">
                                <img src="https://scontent.fhan2-2.fna.fbcdn.net/v/t1.6435-9/176778203_200084205257840_2451167136944431639_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=174925&_nc_ohc=JEXnChClw6UAX9M-FG3&_nc_ht=scontent.fhan2-2.fna&oh=00_AT-WAaXOzM_DXBP4ko8-XCHF2ctOVK_FVI9jbAn-dQx73Q&oe=625A34A4">
                            </div>
                            <h5>
                                Vương Văn Hiếu
                            </h5>
                            <p>
                                Customer information when registering will be contacted by our staff to ensure all customer information is correct. This information will be used as necessary to make a purchase.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- end client section -->
    <!-- arrange section -->

    <section class="arrange_section">
        <div class="container">
            <div class="detail_box">
                <h2>
                    Why should you use our service?
                </h2>
                <p>
                    Shop Flower World is always ready to listen to the needs of customers. We guarantee to be able to deliver fresh flowers within the day according to your request. You have forgotten an important anniversary, you forgot to buy congratulatory flowers but the time is near, don't worry Tram Hoa will help you solve this dilemma. Regardless of the circumstances, we always ensure correct, sufficient and quality delivery.
                </p>
            </div>
        </div>
    </section>
